@import "./partials/tailwind.css";
@import "./partials/alpine.css";
@import "./partials/general.css";
@import "./partials/nodx-lucide.css";
@import "./partials/htmx.css";
@import "./partials/slim-select.css";
@import "./partials/notyf.css";
@import "./partials/scrollbar.css";
@import "./partials/sweetalert2.css";